<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>cgrd</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% block stylesheets %}{% endblock %}
</head>
<body class="layout__container">
<header class="layout__header">
    <a href="{{ route('home.index') }}">
        <img class="logo" src="/assets/images/logo.svg" alt="logo">
    </a>
</header>
{% block content %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>